<!DOCTYPE HTML>
<html class="responsive">
<head>
  <title>{% if page.title %} {{ page.title }} | {% endif %}marizmelo.com</title>
  <meta charset="utf-8">
  <meta name="robots" content="all">
  <meta name="citation_author" content="Mariz Melo">
  <meta name="description" content="Personal website of Mariz Melo built with xtyle web framework.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <!-- <link rel="apple-touch-icon" href="touch-icon-iphone-precomposed.png"> -->
  <!-- <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad-precomposed.png"> -->
  <!-- <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone4-precomposed.png"> -->
  <!-- FB image -->
  <link rel="image_src" href="/xtyle/img/marizmelo.png">
  <meta property="og:image" content="/xtyle/img/marizmelo.png" />
  <!-- FB image -->
  <link rel="alternate" type="application/rss+xml" title="marizmelo.com" href="mm.rss">
  <link href="/xtyle/img/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/xtyle/css/marizmelo.css">
  <script data-main="/xtyle/js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js"></script>
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!-- GOOGLE ANALYTICS -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37987984-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- GOOGLE ANALYTICS : END -->
</head>
<body>
  
  <div class="layout-fixed layout-center">

    <aside class="position-fixed border-right" style="top: 0; padding: 50px; height: 100%; width: 180px;">

      <img id="marizimage" src="https://en.gravatar.com/userimage/35928919/4378c81a9f091358ca6aed1b69e8efdd.png?size=120" alt="" class="border-radius-circle user-select-none">

      <h1>Mariz Melo</h1>
      <h6>Designer & Developer</h6>

      <ul class="reset">
        <li><a href="/" class="btn border-radius2x">home</a></li>
        <li><a href="http://xchema.com" class="btn border-radius2x">xchema</a></li>
        <li><a href="http://github.com/marizmelo" class="btn border-radius2x">GitHub</a></li>
        <li><a href="http://marizmelo.com/mm.rss" class="btn border-radius2x">RSS</a></li>
      </ul>

      <blockquote>
        <p>"Stay hungry, stay foolish."</p>
        <cite>&#8211; Steve Jobs</cite>
      </blockquote>

    </aside>

    <div class="content">
      
      {{content}}

    </div><!-- .content -->
  </div><!-- .layout-fixed -->

</body>
</html>